In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import os
import json
import warnings

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook
from sklearn.preprocessing import MinMaxScaler

warnings.filterwarnings('ignore')

In [2]:
DATA_PATH = './data/'

In [3]:
catalogue_feature_names = ['type', 'availability', 'duration',
                           'feature_1', 'feature_2', 'feature_3',
                           'feature_4', 'feature_5', 'attributes']

In [4]:
with open(os.path.join(DATA_PATH, 'catalogue.json'), 'r') as f:
    catalogue = json.load(f)
    
catalogue = {int(k): v for k, v in catalogue.items()}

In [5]:
catalogue[1]

{'type': 'movie',
 'availability': ['purchase', 'rent'],
 'duration': 120,
 'feature_1': 6610431.116079764,
 'feature_2': 0.7732243944,
 'feature_3': 3,
 'feature_4': 1.1120138405,
 'feature_5': 0.6547073468,
 'attributes': [2786, 385, 2799, 3730, 886, 7, 11700, 42, 20, 388, 1934]}

In [6]:
catalogue_df = pd.DataFrame(index=catalogue.keys(), columns=catalogue_feature_names).sort_index()

#Делаю из файла json DataFrame в pandas, также создаю множество с атрибутами
attributes = set()
for key, value in tqdm_notebook(catalogue.items()):
    for col_name in catalogue_feature_names:
        catalogue_df.loc[key][col_name] =  value[col_name]
        if col_name == 'attributes':
            attributes.update(value[col_name])

HBox(children=(IntProgress(value=0, max=10200), HTML(value='')))

In [7]:
catalogue_df['type'] = catalogue_df['type'].astype(str)
catalogue_df['duration'] = catalogue_df['duration'].astype(int)
catalogue_df['feature_1'] = catalogue_df['feature_1'].astype(float)
catalogue_df['feature_2'] = catalogue_df['feature_2'].astype(float)
catalogue_df['feature_3'] = catalogue_df['feature_3'].astype(int)
catalogue_df['feature_4'] = catalogue_df['feature_4'].astype(float)
catalogue_df['feature_5'] = catalogue_df['feature_5'].astype(float)

In [8]:
# Теперь переведу категориальные фичи в числовые признаки
type_mapper = {'series': 0, 'movie': 1, 'multipart_movie': 2}
#attributes_mapper = {key:value for key, value in zip(attributes, range(len(attributes)))}
availability_mapper = {
    (): 0,
    ('purchase',): 1,
    ('rent',): 2,
    ('subscription',): 3,
    ('purchase', 'rent',): 4,
    ('purchase', 'subscription',): 5,
    ('rent', 'subscription',): 6,
    ('purchase', 'rent', 'subscription',): 7,
}

catalogue_df['type'] = catalogue_df['type'].map(type_mapper)

catalogue_df['availability'] = catalogue_df['availability'].apply(lambda x: availability_mapper[tuple(x)])

In [10]:
with open(os.path.join(DATA_PATH, 'test_users.json'), 'r') as f:
    test_users = json.load(f)['users']

In [11]:
transactions = pd.read_csv(
    os.path.join(DATA_PATH, 'transactions.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'consumption_mode': 'category',
        'ts': np.float64,
        'watched_time': np.uint64,
        'device_type': np.uint8,
        'device_manufacturer': np.uint8
    }
)

In [12]:
transactions.shape

(9643012, 7)

In [17]:
transactions.columns

Index(['element_uid', 'user_uid', 'consumption_mode', 'ts', 'watched_time',
       'device_type', 'device_manufacturer'],
      dtype='object')

In [18]:
transactions.head(2)

,element_uid,user_uid,consumption_mode,ts,watched_time,device_type,device_manufacturer
0,3336,5177,S,4.430518e+07,4282,0,50
1,481,593316,S,4.430518e+07,2989,0,11

In [19]:
transactions = transactions.join(catalogue_df, on='element_uid')

In [20]:
transactions.shape

(9643012, 16)

In [21]:
transactions.head(2)

,element_uid,user_uid,consumption_mode,ts,watched_time,device_type,device_manufacturer,type,availability,duration,feature_1,feature_2,feature_3,feature_4,feature_5,attributes
0,3336,5177,S,4.430518e+07,4282,0,50,1,7,90,4.166108e+07,0.739609,45,1.141929,0.654707,"[19924, 28181, 6732, 23032, 270, 24805, 43, 14..."
1,481,593316,S,4.430518e+07,2989,0,11,1,5,50,4.293419e+07,0.750161,11,1.119409,0.592716,"[30070, 30071, 30072, 30073, 51, 52, 30074, 42..."

In [22]:
transactions.columns

Index(['element_uid', 'user_uid', 'consumption_mode', 'ts', 'watched_time',
       'device_type', 'device_manufacturer', 'type', 'availability',
       'duration', 'feature_1', 'feature_2', 'feature_3', 'feature_4',
       'feature_5', 'attributes'],
      dtype='object')

In [24]:
transactions = transactions[['ts', 'user_uid', 'element_uid',
                         'availability', 'watched_time', 'device_type', 'device_manufacturer', 'duration'
                        ]]


transactions.columns = ['session_start_datetime', 'user_id',
                     'video_id', 'vod_type', 'session_duration', 'device_type', 'device_os', 
                      'video_duration']
transactions['watching_percentage'] = transactions['session_duration'] / (transactions['video_duration'] * 60)

In [26]:
transactions.head()

,session_start_datetime,user_id,video_id,vod_type,session_duration,device_type,device_os,video_duration,watching_percentage
0,4.430518e+07,5177,3336,7,4282,0,50,90,0.792963
1,4.430518e+07,593316,481,5,2989,0,11,50,0.996333
2,4.430518e+07,262355,4128,7,833,0,50,100,0.138833
3,4.430518e+07,74296,6272,7,2530,0,99,100,0.421667
4,4.430518e+07,340623,5543,4,6282,0,50,70,1.495714

In [29]:
#transactions.to_pickle('./data/df_neural.pkl')

In [18]:
transactions[transactions.type == 0]

,element_uid,user_uid,consumption_mode,ts,watched_time,device_type,device_manufacturer,type,availability,duration,feature_1,feature_2,feature_3,feature_4,feature_5,attributes
7,5651,490059,S,4.430518e+07,9390,0,50,0,0,20,4.193306e+07,0.677350,0,1.138604,0.654707,"[8165, 35309, 35310, 20267, 270, 34399, 43, 25]"
15,5951,408050,S,4.430517e+07,20886,0,11,0,5,40,4.330547e+07,0.744924,8,1.135231,0.592716,"[13236, 25922, 8704, 34318, 34319, 7, 34320, 3..."
16,2429,499047,S,4.430517e+07,368576,0,99,0,5,40,3.771280e+07,0.812768,16,1.117582,0.654707,"[33886, 33880, 33887, 19602, 6089, 7, 33570, 3..."
24,817,493902,S,4.430517e+07,4911,0,99,0,0,40,4.312661e+07,0.625982,0,1.126575,0.654707,"[27350, 22145, 12659, 24032, 270, 33755, 35433..."
29,2771,133315,S,4.430517e+07,10557,0,50,0,5,40,3.855457e+07,0.712737,12,1.138604,0.654707,"[3224, 34069, 34070, 34071, 270, 15686, 123, 4..."
31,10108,483549,S,4.430517e+07,6478,0,50,0,3,20,4.306765e+07,0.731484,8,1.138604,0.680410,"[35487, 35488, 35489, 35490, 35491, 7, 35492, ..."
33,5845,401587,S,4.430517e+07,39037,3,99,0,5,60,4.162279e+07,0.786378,17,1.138604,0.680410,"[548, 287, 1408, 2401, 7, 25852, 33650, 33651,..."
35,3417,412761,S,4.430517e+07,5929,0,50,0,5,50,1.659832e+07,0.812768,17,1.100457,0.000000,"[309, 33911, 33912, 33913, 9101, 52, 33914, 42..."
77,4650,265411,S,4.430515e+07,1265,0,50,0,0,20,4.193306e+07,0.600535,0,1.130076,0.654707,"[8165, 34477, 34478, 34479, 270, 15713, 34480,..."
88,5741,255313,S,4.430515e+07,8900,0,50,0,3,40,3.671941e+07,0.753610,6,1.136924,0.680410,"[1379, 19984, 33531, 16082, 52, 15384, 33514, ..."
125,1695,178330,S,4.430514e+07,34695,0,11,0,3,20,3.766992e+07,0.778464,10,1.126575,-1.000000,"[13799, 6059, 32004, 2298, 7, 33633, 5053, 141..."
135,8771,12265,S,4.430514e+07,20452,0,50,0,0,50,4.161910e+07,0.786378,2,1.138604,0.654707,"[34312, 9541, 325, 17248, 270, 34313, 42, 43, 25]"
136,8420,401587,S,4.430514e+07,64,3,99,0,1,40,4.362631e+07,0.778464,13,1.130076,0.680410,"[14612, 2343, 5162, 2135, 22717, 7, 14694, 348..."
137,8958,506074,S,4.430514e+07,1786,0,50,0,0,50,4.029821e+07,0.774440,3,1.138604,0.680410,"[3243, 1240, 2343, 3162, 7, 34407, 5360, 999, ..."
139,1253,430210,S,4.430514e+07,56388,0,99,0,5,40,3.804348e+07,0.774440,11,1.121222,-1.000000,"[24222, 33873, 33874, 33875, 7, 33416, 33876, ..."
156,2912,542344,S,4.430513e+07,110,0,11,0,5,0,3.771021e+07,0.638055,14,1.138604,0.000000,"[20273, 270, 20274, 1492, 14, 15, 3273, 25]"
165,5500,529630,S,4.430513e+07,35284,0,50,0,3,60,4.358348e+07,0.770371,9,1.140273,0.680410,"[214, 2246, 34847, 6052, 7, 5614, 34003, 25653..."
174,8420,514143,S,4.430513e+07,307,0,50,0,1,40,4.362631e+07,0.778464,13,1.130076,0.680410,"[14612, 2343, 5162, 2135, 22717, 7, 14694, 348..."
209,8958,168577,S,4.430512e+07,40561,0,11,0,0,50,4.029821e+07,0.774440,3,1.138604,0.680410,"[3243, 1240, 2343, 3162, 7, 34407, 5360, 999, ..."
212,6980,385385,S,4.430512e+07,2734,0,50,0,5,40,4.045158e+07,0.740500,10,1.133525,0.449667,"[35281, 577, 35282, 1134, 14, 15, 1135, 25]"
217,7537,512523,S,4.430512e+07,118800,0,50,0,5,40,4.345006e+07,0.753610,4,1.133525,0.654707,"[34122, 34123, 34124, 34125, 9143, 7, 52, 3412..."
227,7708,41023,S,4.430511e+07,92271,0,50,0,5,40,2.321535e+07,0.763343,10,1.128332,0.000000,"[34814, 192, 34815, 33722, 32, 308, 14, 15, 21..."
235,8420,70452,S,4.430511e+07,9464,3,99,0,1,40,4.362631e+07,0.778464,13,1.130076,0.680410,"[14612, 2343, 5162, 2135, 22717, 7, 14694, 348..."
237,738,335427,S,4.430511e+07,18851,0,50,0,3,40,4.364946e+07,0.692949,13,1.141929,0.680410,"[34988, 34989, 34990, 275, 7, 25909, 34991, 56..."
239,8958,475926,S,4.430511e+07,96,0,50,0,0,50,4.029821e+07,0.774440,3,1.138604,0.680410,"[3243, 1240, 2343, 3162, 7, 34407, 5360, 999, ..."
250,1014,537181,S,4.430511e+07,85863,0,50,0,0,20,4.157712e+07,0.731484,0,1.138604,0.654707,"[34567, 34568, 34569, 14860, 270, 34570, 34571..."
254,1565,398085,S,4.430511e+07,60152,0,99,0,5,40,4.380675e+07,0.766254,16,1.140273,0.654707,"[12117, 33871, 33872, 12007, 1742, 7, 2083, 42..."
256,6762,41339,S,4.430511e+07,166,0,50,0,5,50,4.343794e+07,0.774440,20,1.140273,0.680410,"[2321, 1873, 1178, 5902, 27420, 7, 33864, 6419..."
257,2910,288489,S,4.430511e+07,1336,0,11,0,3,50,4.241324e+07,0.761250,9,1.135231,0.680410,"[5837, 7806, 9792, 4209, 7, 15246, 777, 33591,..."
258,7106,520568,P,4.430511e+07,150476,0,50,0,5,40,4.374098e+07,0.794120,16,1.133525,0.680410,"[1961, 9939, 5195, 33663, 8861, 192, 437, 3366..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9642793,5443,296735,S,4.173067e+07,37223,3,99,0,5,30,4.083802e+07,0.794120,11,1.136924,0.680410,"[18106, 13938, 34192, 34193, 34194, 7, 24140, ..."
9642796,2429,50831,S,4.173067e+07,17,0,50,0,5,40,3.771280e+07,0.812768,16,1.117582,0.654707,"[33886, 33880, 33887, 19602, 6089, 7, 33570, 3..."
9642800,9876,505448,S,4.173067e+07,2,0,99,0,5,40,1.345257e+07,0.740500,8,1.123020,-1.000000,"[864, 25546, 34199, 34200, 34201, 4450, 16202,..."
9642811,8771,250650,S,4.173067e+07,3060,0,11,0,0,50,4.161910e+07,0.786378,2,1.138604,0.654707,"[34312, 9541, 325, 17248, 270, 34313, 42, 43, 25]"
9642813,3637,93749,S,4.173067e+07,42,1,90,0,3,50,4.036794e+07,0.692949,10,1.141929,0.680410,"[34856, 34857, 34858, 12576, 7, 2391, 42, 15, ..."
9642818,486,333330,S,4.173067e+07,2401,0,67,0,5,60,4.168907e+07,0.712737,14,1.140273,0.654707,"[13393, 35479, 3992, 154, 52, 35480, 31, 32, 4..."
9642826,9615,487975,S,4.173067e+07,379,0,90,0,3,20,3.031034e+07,0.776860,7,1.128332,0.680410,"[20304, 23979, 1513, 9339, 15756, 7, 23434, 27..."
9642827,1427,440504,S,4.173067e+07,3011,0,50,0,3,30,4.123519e+07,0.692949,14,1.141929,0.680410,"[9007, 10270, 35088, 8496, 7, 27720, 35089, 35..."
9642865,3972,4466,S,4.173066e+07,9542,0,50,0,3,60,3.293779e+07,0.778464,11,1.138604,0.680410,"[33638, 33639, 33640, 2296, 3366, 7, 5586, 567..."
9642885,6401,325553,S,4.173066e+07,4955,0,50,0,3,30,3.858256e+07,0.692949,8,1.138604,0.654707,"[4199, 33811, 33812, 15323, 9416, 7, 11160, 33..."
9642902,1918,590715,S,4.173066e+07,29195,3,99,0,5,20,3.926818e+07,0.782443,8,1.138604,0.680410,"[28037, 6108, 432, 34455, 34456, 7, 34457, 344..."
9642914,5845,314932,S,4.173065e+07,65,0,11,0,5,60,4.162279e+07,0.786378,17,1.138604,0.680410,"[548, 287, 1408, 2401, 7, 25852, 33650, 33651,..."
9642915,4026,62932,S,4.173065e+07,223216,4,76,0,1,50,4.064535e+07,0.786378,11,1.130076,0.680410,"[3657, 1706, 1286, 33652, 2518, 7, 33480, 3349..."
9642916,9363,521553,S,4.173065e+07,23826,0,11,0,5,50,1.501380e+07,0.786378,14,1.113885,0.680410,"[3337, 10264, 14503, 3778, 34597, 11757, 270, ..."
9642931,8904,165079,P,4.173065e+07,37369,0,99,0,1,40,3.746018e+07,0.778464,4,1.112014,0.654707,"[34507, 28037, 5723, 747, 7, 33590, 1117, 3365..."
9642946,835,93296,S,4.173065e+07,27038,0,50,0,0,50,3.714133e+07,0.770371,3,1.140273,0.680410,"[801, 9398, 6904, 35015, 52, 34426, 35016, 42,..."
9642950,4413,298186,S,4.173065e+07,6084,0,50,0,3,20,3.293779e+07,0.779663,9,1.124804,0.654707,"[48, 318, 4624, 33817, 6799, 7, 34354, 34355, ..."
9642951,3812,324351,S,4.173065e+07,661,0,50,0,3,30,3.190207e+07,0.781254,15,1.106308,0.654707,"[1604, 11812, 5185, 26306, 7195, 7, 25286, 263..."
9642952,2429,87104,S,4.173065e+07,4028,0,11,0,5,40,3.771280e+07,0.812768,16,1.117582,0.654707,"[33886, 33880, 33887, 19602, 6089, 7, 33570, 3..."
9642954,835,207628,S,4.173064e+07,12,0,50,0,0,50,3.714133e+07,0.770371,3,1.140273,0.680410,"[801, 9398, 6904, 35015, 52, 34426, 35016, 42,..."
9642955,3837,388590,S,4.173064e+07,10456,0,11,0,0,50,4.123605e+07,0.692949,2,1.141929,0.680410,"[3138, 1626, 2540, 33718, 7, 52, 63, 33719, 33..."
9642961,7220,154104,S,4.173064e+07,867,3,99,0,3,20,2.920571e+07,0.692949,7,1.135231,0.680410,"[34688, 34689, 34690, 34691, 7, 3472, 1134, 15..."
9642962,5845,539557,S,4.173064e+07,5987,0,50,0,5,60,4.162279e+07,0.786378,17,1.138604,0.680410,"[548, 287, 1408, 2401, 7, 25852, 33650, 33651,..."
9642967,5845,202920,S,4.173064e+07,0,0,99,0,5,60,4.162279e+07,0.786378,17,1.138604,0.680410,"[548, 287, 1408, 2401, 7, 25852, 33650, 33651,..."
9642969,168,306823,S,4.173064e+07,7360,3,99,0,5,50,3.049244e+07,0.703475,13,1.124804,0.654707,"[3337, 23259, 27966, 33747, 33748, 270, 3780, ..."
9642986,8771,349659,S,4.173064e+07,71,0,11,0,0,50,4.161910e+07,0.786378,2,1.138604,0.654707,"[34312, 9541, 325, 17248, 270, 34313, 42, 43, 25]"
9642994,8664,105882,S,4.173064e+07,437219,0,50,0,5,40,1.582857e+07,0.782443,9,1.117582,0.654707,"[11814, 22971, 1933, 11911, 35189, 35190, 3519..."
9642997,4026,496315,S,4.173063e+07,237535,0,99,0,1,50,4.064535e+07,0.786378,11,1.130076,0.680410,"[3657, 1706, 1286, 33652, 2518, 7, 33480, 3349..."
9642998,4520,213265,S,4.173063e+07,9968,0,50,0,3,50,4.019971e+07,0.794120,17,1.121222,0.680410,"[2264, 10519, 31909, 10444, 7, 4850, 33384, 23..."
9643001,5443,260354,S,4.173063e+07,72923,1,90,0,5,30,4.083802e+07,0.794120,11,1.136924,0.680410,"[18106, 13938, 34192, 34193, 34194, 7, 24140, ..."

In [19]:
target = ((transactions['consumption_mode'] == 'R') | \
          (transactions['consumption_mode'] == 'P') | \
          (((transactions['type'] == 1) | (transactions['type'] == 2)) & \
            (transactions['watched_time'] / 40 >= transactions['duration'])) | \
          ((transactions['type'] == 0) & (transactions['watched_time'] / 40 >= 300))).astype(np.int8)

In [16]:
target.sum()

NameError: name 'target' is not defined

In [21]:
transactions['target'] = target

In [22]:
transactions.head().T

,0,1,2,3,4
element_uid,3336,481,4128,6272,5543
user_uid,5177,593316,262355,74296,340623
consumption_mode,S,S,S,S,P
ts,4.43052e+07,4.43052e+07,4.43052e+07,4.43052e+07,4.43052e+07
watched_time,4282,2989,833,2530,6282
device_type,0,0,0,0,0
device_manufacturer,50,11,50,99,50
type,1,1,1,1,1
availability,7,5,7,7,4
duration,90,50,100,100,70
feature_1,4.16611e+07,4.29342e+07,2.77773e+07,4.04156e+07,9.21296e+06
feature_2,0.739609,0.750161,0.750161,0.675218,0.783234
feature_3,45,11,12,34,14
feature_4,1.14193,1.11941,1.13008,1.14027,1.11388
feature_5,0.654707,0.592716,0.654707,0.68041,0
attributes,"[19924, 28181, 6732, 23032, 270, 24805, 43, 14...","[30070, 30071, 30072, 30073, 51, 52, 30074, 42...","[6165, 8130, 24969, 24970, 24971, 367, 571, 27...","[143, 4349, 1950, 5680, 714, 7, 9036, 9037, 43...","[10235, 1462, 4719, 9368, 1613, 7, 5402, 4300,..."
target,1,1,0,0,1

In [23]:
bookmarks = pd.read_csv(
    os.path.join(DATA_PATH, 'bookmarks.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'ts': np.float64
    }
)

In [24]:
bookmarks.head(3)

   user_uid  element_uid            ts
0    301135         7185  4.430516e+07
1    301135         4083  4.430516e+07
2    301135        10158  4.430516e+07

In [25]:
bookmarks = bookmarks.set_index(['user_uid', 'element_uid'], verify_integrity=True)

In [26]:
bookmarks.tail()

                                ts
user_uid element_uid
524752   2557         4.173079e+07
         8919         4.173077e+07
5174     3637         4.173076e+07
161137   9700         4.173076e+07
26252    8460         4.173068e+07

In [27]:
transactions = transactions.join(bookmarks, on=['user_uid', 'element_uid'], rsuffix='_bookmarks', how='outer')

In [28]:
transactions.isna().sum()

element_uid                  0
user_uid                     0
consumption_mode        683494
ts                      683494
watched_time            683494
device_type             683494
device_manufacturer     683494
type                    683494
availability            683494
duration                683494
feature_1               683494
feature_2               683494
feature_3               683494
feature_4               683494
feature_5               683494
attributes              683494
target                  683494
ts_bookmarks           9378290
dtype: int64

In [29]:
transactions.shape

(10326506, 18)

In [30]:
transactions['is_bookmarks'] = transactions.ts_bookmarks.notna()

In [31]:
transactions['is_ts_more_ts_bookmarks'] = (transactions['ts'] > transactions['ts_bookmarks']).astype(np.int8)
transactions['is_ts_more_ts_bookmarks'].loc[transactions.ts_bookmarks.isna()] = 2

In [32]:
transactions_cat_features = ['device_type', 'device_manufacturer', 
                             'is_ts_more_ts_bookmarks', 'consumption_mode', 
                             'is_bookmarks']

In [33]:
transactions.head().T

,0,1,2,3,4
element_uid,3336,481,4128,6272,5543
user_uid,5177,593316,262355,74296,340623
consumption_mode,S,S,S,S,P
ts,4.43052e+07,4.43052e+07,4.43052e+07,4.43052e+07,4.43052e+07
watched_time,4282,2989,833,2530,6282
device_type,0,0,0,0,0
device_manufacturer,50,11,50,99,50
type,1,1,1,1,1
availability,7,5,7,7,4
duration,90,50,100,100,70
feature_1,4.16611e+07,4.29342e+07,2.77773e+07,4.04156e+07,9.21296e+06
feature_2,0.739609,0.750161,0.750161,0.675218,0.783234
feature_3,45,11,12,34,14
feature_4,1.14193,1.11941,1.13008,1.14027,1.11388
feature_5,0.654707,0.592716,0.654707,0.68041,0
attributes,"[19924, 28181, 6732, 23032, 270, 24805, 43, 14...","[30070, 30071, 30072, 30073, 51, 52, 30074, 42...","[6165, 8130, 24969, 24970, 24971, 367, 571, 27...","[143, 4349, 1950, 5680, 714, 7, 9036, 9037, 43...","[10235, 1462, 4719, 9368, 1613, 7, 5402, 4300,..."
target,1,1,0,0,1
ts_bookmarks,NaN,NaN,NaN,NaN,NaN
is_bookmarks,False,False,False,False,False
is_ts_more_ts_bookmarks,2,2,2,2,2

In [34]:
ratings = pd.read_csv(
    os.path.join(DATA_PATH, 'ratings.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'ts': np.float64,
        'rating': np.uint8
    }
)

In [35]:
ratings.head(5)

   user_uid  element_uid  rating            ts
0    571252         1364      10  4.430517e+07
1     63140         3037      10  4.430514e+07
2    443817         4363       8  4.430514e+07
3    359870         1364      10  4.430506e+07
4    359870         3578       9  4.430506e+07

In [36]:
ratings.set_index(['user_uid', 'element_uid'], verify_integrity=True, inplace=True)

In [37]:
ratings.head()

                      rating            ts
user_uid element_uid
571252   1364             10  4.430517e+07
63140    3037             10  4.430514e+07
443817   4363              8  4.430514e+07
359870   1364             10  4.430506e+07
         3578              9  4.430506e+07

In [38]:
transactions = transactions.join(ratings, on=['user_uid', 'element_uid'], rsuffix='_raitings', how='outer')

In [39]:
transactions.shape

(10403324, 22)

In [40]:
transactions['is_ts_more_ts_raitings'] = (transactions['ts'] > transactions['ts_raitings']).astype(np.int8)
transactions['is_ts_more_ts_raitings'].loc[transactions.ts_raitings.isna()] = 2

In [41]:
transactions.head(3).T

,0,1,2
element_uid,3336,481,4128
user_uid,5177,593316,262355
consumption_mode,S,S,S
ts,4.43052e+07,4.43052e+07,4.43052e+07
watched_time,4282,2989,833
device_type,0,0,0
device_manufacturer,50,11,50
type,1,1,1
availability,7,5,7
duration,90,50,100
feature_1,4.16611e+07,4.29342e+07,2.77773e+07
feature_2,0.739609,0.750161,0.750161
feature_3,45,11,12
feature_4,1.14193,1.11941,1.13008
feature_5,0.654707,0.592716,0.654707
attributes,"[19924, 28181, 6732, 23032, 270, 24805, 43, 14...","[30070, 30071, 30072, 30073, 51, 52, 30074, 42...","[6165, 8130, 24969, 24970, 24971, 367, 571, 27..."
target,1,1,0
ts_bookmarks,NaN,NaN,NaN
is_bookmarks,False,False,False
is_ts_more_ts_bookmarks,2,2,2
rating,9,NaN,NaN
ts_raitings,4.43042e+07,NaN,NaN
is_ts_more_ts_raitings,1,2,2

In [42]:
# !mkdir mydata

In [44]:
transactions.to_pickle('./data/joins.pkl')